.container-dialog{
  margin: 25px;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 10px;
}

.table-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.column {
  flex-basis: calc(100% / 6);
}

.column {
  text-align: center;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
