<video id="videoBG" autoplay muted loop>
  <source src="/assets/Video/Chill-Beach-4K.mp4" type="video/mp4">
</video>

<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
  <div class="container">
    <!-- Navbar per Utente Logato come User-->
    <ul class="navbar-nav mr-auto" *ngIf="showPatientBoard">
      <li class="nav-item">
        <a class="nav-link" routerLink="Home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="User">User</a>
      </li>
    </ul>

    <!-- Navbar per Utente Logato come Admin-->
    <ul class="navbar-nav mr-auto" *ngIf="showOperatorBoard">
      <li class="nav-item">
        <a class="nav-link" routerLink="Admin">Admin</a>
      </li>
    </ul>

    <!-- Navbar per Utente non Logato-->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <h1 class="text-white">GAME<span style="font-size: 50px; color:green;">X</span>CHANGE</h1>
      </li>
    </ul>

    <!-- Navbar per Utente non Logato-->
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a class="nav-link nav-text-size" routerLink="/Register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-text-size" routerLink="/Login">Login</a>
      </li>
    </ul>

    <!-- Navbar per Profilo ed LogOut -->
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a class="nav-link nav-text-size" routerLink="/Home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-text-size" routerLink="/Games">Games</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link nav-text-size" (click)="logout()">LogOut</a>
      </li>
    </ul>

  </div>
</nav>
