<!-- <div class="container-fluid" style="margin-top: 18%">
  <div class="container text-center">
    <h1>Thank you.</h1>
    <p class="lead w-lg-50 mx-auto">Your order has been placed successfully.</p>
    <p class="w-lg-50 mx-auto">Your order number is <a href="#">9237427634826</a>. We will immediatelly process your and
      it will be delivered in 2 - 5 business days.</p>
    <button type="button" class="btn btn-success" (click)="goBackToHome()">Go back to home</button>
  </div>
</div> -->

<div class="content-center container position-absolute top-0 start-50 translate-middle">
  <div class="text-center">
    <div class="container">
      <div class="container text-center text-white">
        <h1>Thank you.</h1>
        <p class="lead w-lg-50 mx-auto">Your order has been received.</p>
        <p class="w-lg-50 mx-auto">Your order number is <a href="#" style="color: green;">{{transactionData.id}}</a>. We will immediatelly process your and
          it will be delivered in 1 hour on your email adress.</p>
        <button type="button" class="btn btn-success" (click)="goBackToHome()">Go back to home</button>
      </div>
    </div>
  </div>
</div>
