.top-space{
  padding-top: 110px;
}

.card{
  width: 400px;
  margin-top: 15px;
  background-color: #11111f;
  --bs-card-border-width: none;
  border-radius: 10px;
}

.rating{
  border-radius: 25px;
  width: 40px;
  text-align: center;
  margin: 5px 0px 0px 5px;
}
